---
interface Props {
    url: string;
    extract: string;
    title: string;
    date: string;
}

const { url, extract, title, date } = Astro.props;
---

<li class="card">
    <a class="card__link" href={url}>
        <h3 class="card__title">
            {title}
        </h3>
        <p class="card__extract">{extract}</p>
    </a>
</li>
