---
const year = new Date().getFullYear();
---
<footer>
    <div class="center">
        <small>&copy; {year} Milky Way Reader by <a class="footer__link" href="https://github.com/NereaCassian">NereaCassian</a> using a template created by <a class="footer__link" href="https://github.com/ttomczak3">ttomczak</a>.</small>
    </div>
</footer>

