---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Lily Valley</a>
    </div>
    <div class="navbar__menu">
        <a href="/posts/">Historias cortas</a>
        <ThemeIcon />
    </div>
</div>

